# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs/CarND-Term2-Kidnapped-Vehicle-Project/v15/.suo
.vs/CarND-Term2-Kidnapped-Vehicle-Project/v15/Browse.VC.db
.vs/CarND-Term2-Kidnapped-Vehicle-Project/v15/Browse.VC.opendb
.vs/CarND-Term2-Kidnapped-Vehicle-Project/v15/ipch/AutoPCH/CMAKELISTS-4574ba8a/MAIN-def61612/MAIN.ipch
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/CarND-Term2-Kidnapped-Vehicle-Project/v15/ipch/AutoPCH/7a1521e1/MAIN-def61612/MAIN.ipch
.vs/CarND-Term2-Kidnapped-Vehicle-Project/v15/ipch/AutoPCH/7a1521e1/PARTICLE_FILTER-76afd466/PARTICLE_FILTER.ipch
*.ipch
.vs/config/applicationhost.config
.vs/slnx.sqlite-journal
.vs/VSWorkspaceState.json
.vs/launch.vs.json
build/x86-Debug/ALL_BUILD.vcxproj
build/x86-Debug/ALL_BUILD.vcxproj.filters
build/x86-Debug/cmake-daemon-13048
build/x86-Debug/cmake-daemon-14408
build/x86-Debug/CMakeCache.txt
*.cmake
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdC/CMakeCCompilerId.c
*.exe
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdC/CompilerIdC.vcxproj
*.obj
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog
*.tlog
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.vcxproj
build/x86-Debug/CMakeFiles/bbe7efc9bac504064a0fb0535088f44d/generate.stamp.rule
*.check_cache
build/x86-Debug/CMakeFiles/CMakeOutput.log
*.stamp
build/x86-Debug/CMakeFiles/generate.stamp.depend
*.list
build/x86-Debug/CMakeFiles/TargetDirectories.txt
build/x86-Debug/Debug/particle_filter.ilk
*.pdb
build/x86-Debug/PARTICLE_FILTER.sln
*.filters
enc_temp_folder/eb5d5865cfcb7f07ee7ae1f30712913/particle_filter.cpp
src/particle_filter.zip
build/x86-Debug/cmake-daemon-11236
build/x86-Debug/cmake-daemon-14396
build/x86-Debug/cmake-daemon-15944
build/x86-Debug/cmake-daemon-25540
build/x86-Debug/cmake-daemon-8472
*.rule
build/x86-Release/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdC/CMakeCCompilerId.c
build/x86-Release/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.log
build/x86-Debug/cmake-daemon-4072
build/x86-Debug/cmake-daemon-30652
build/x86-Debug/cmake-daemon-25652
build/x86-Debug/cmake-daemon-25852
build/x86-Debug/cmake-daemon-26092
build/x86-Debug/cmake-daemon-26912
build/x86-Debug/cmake-daemon-27616
build/x86-Debug/cmake-daemon-29956
build/x86-Debug/cmake-daemon-29784
build/x86-Debug/cmake-daemon-29380
